<div class="container-fluid">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Node Name</th>

            <th></th>
        </tr>
        </thead>
        <tbody>


        <tr ng-repeat="camera in cameras | filter:query | orderBy:orderProp">
            <td><a href="/api/cameras/{{camera.id}}">
                {{camera.name}}
            </a></td>
            <td><a href="/api/cameras/{{camera.id}}"> {{camera.node}}</a></td>

            <!--<td>-->
            <!--<a href="@routes.Products.details(product.id)"><i class="icon icon-pencil"></i></a>-->
            <!--<a onclick="javascript:del('@routes.Products.delete(product.id)')"><i class="icon icon-trash"></i></a>-->
            <!--</td>-->
        </tr>


        </tbody>
    </table>


</div>