<header class="clearfix">

<div class="top-nav">
<ul class="nav-left list-unstyled">
    <li>
        <!-- needs to be put after logo to make it working-->
        <div class="menu-button" toggle-off-canvas>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>

    </li>
    <li>
        <a href="#/" data-toggle-min-nav
           class="toggle-min"
                ><i class="fa fa-bars"></i></a>
    </li>
    <li class="dropdown text-normal nav-profile">
        <a href="javascript:;" class="dropdown-toggle">
            <img src="images/jane.jpg" alt="" class="img30_30">
        </a>

        <div class="dropdown-menu pull-left with-arrow panel panel-default">

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#/pages/profile">
                        <i class="fa fa-user color-info"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#/tasks">
                        <i class="fa fa-check color-success"></i>
                        <span>Tasks</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#/pages/lock-screen">
                        <i class="fa fa-lock color-warning"></i>
                        <span>Lock</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#/pages/signin">
                        <i class="fa fa-sign-out color-danger"></i>
                        <span>Log out</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

</ul>




</div>

</header>


