<!-- left side start-->
<div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
    <div class="logo">
        <a href="index.html"><img src="/assets/app/img/theme/logo_icon_astar.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <a href="index.html"><img src="/assets/app/img/theme/logo_icon_astar.png" alt=""></a>
    </div>
        <!--logo and iconic logo end-->


    <div class="left-side-inner">

            <!-- visible to small devices only -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                <img alt="" src="/assets/app/img/theme/user-avatar.png" class="media-object">
                <div class="media-body">
                    <h4><a href="#">John Doe</a></h4>
                    <span>"Hello There..."</span>
                </div>
            </div>

            <h5 class="left-nav-title">Account Information</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>

            <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a href="#dashboard"><i class="fa fa-home nav-active"></i> <span>Dashboard</span></a></li>
            <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>Information Center</span></a>
                <ul class="sub-menu-list">
                    <li ><a href="#chatRoom"> Chart room</a></li>
                    <li ><a href="#mapTest"> Map Test</a></li>
                    <li><a href="#undifine"> undifine Page</a></li>

                </ul>
            </li>

            <li class="menu-list "><a href="#cameraSetting"><i class="fa fa-th-list"></i> <span>Camera Setting</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#/cameraList"> Camera overview</a></li>

                </ul>
            </li>

            <li><a href="login.html"><i class="fa fa-sign-in"></i> <span>Login Page</span></a></li>

        </ul>
            <!--sidebar nav end-->

    </div>
</div>
<!-- left side end-->
